.Chat-Content {
    display: flex;
    flex-direction: column;
    height: 80%;
    list-style: none;
    padding: 2rem;
    overflow-y: scroll;
    flex: 1;
}

.Chat-Content::-webkit-scrollbar {
    display: none;
}

.Chat-Content li {
    display: flex;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    max-width: 75%;
    text-align: left;
}

@media (min-width: 768px) {
    .Chat-Content li{
        max-width: 50%;
    }
}

.Chat-Content li p{
    word-break: break-word;
    border-radius: 20px;
    padding: 10px;
}
.Chat-Content li h3{
    font-size: 0.9rem;
    font-weight: bold;
}

.receiver-message {
    align-self: flex-start;
}
.receiver-message p{
    background-color: #f1f1f1;
    color: Black;
}
.receiver-message h3{
    color: rgb(225, 0, 255);
}

.sender-message {
    color: white;
    align-self: flex-end;
    flex-direction: row-reverse;
}
.sender-message p{
    background-color: rgb(55, 54, 54);
}
.sender-message h3{
    color: rgb(35, 251, 20);
}

.Empty-Chats{   
    margin: auto;
    text-align: center;
}

.Empty-Chats h1{
    font-size: 2rem;
    font-weight: bolder;
    margin: 2rem;
}
