.SearchBar {
    padding: 10px;
    margin-bottom: 20px;
}

.SearchBar h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin: 10px 0 30px 0;
}

.Search-Container{    
    flex-grow: 1;
    width: 100%;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.clear-search{
    color: rgb(80, 80, 80);
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    top: 8px;
}

.Search-Container input[type="text"] {
    color: black;
    padding: 8px 20px;
    font-size: 16px;
    border: #8e8e8d 1px solid;
    border-radius: 2rem;
    width: 100%;
    outline: none;
}


.Search-Results-Container{
    width: 90%;
    margin: auto;
    position: absolute;
    top: 150px;
    border-radius: 30px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    max-height: 75%;
    overflow-y: scroll;
    z-index: 100;
}

.Search-Results-Container::-webkit-scrollbar {
    display: none;
}

.Search-Results-Container ul{
    width: 100%;
    list-style: none;
    text-wrap: wrap;
}

.Search-Results-Container li{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 10px;  
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.Search-Results-Container li:hover{
    background-color: #b457b6;
}
