.Side-bar{
    min-width: 50px;
    height: 100%;
    background-color: #e100ff; 
    background-image: linear-gradient(to bottom, #f912e2, #e100ff,#6400d7);
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    z-index: 1000;
}


.modal-btn{
    display: none;
}


@media (max-width: 768px) {
    .modal-btn{
        display: block;
    }
}